<div class="jumbotron text-center">
	<h2>API Health Dashboard</h2>

	<h3>Login API Results</h3>
	<div><p>{{ data[0].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[1].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[2].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[3].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[4].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[5].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[6].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[7].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[8].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
	<div><p>{{ data[9].finished_at * 1000 | date:'MM-dd-yy HH:mm Z'}} : {{ data[0].result }}</p></div>
</div>